name: Update Resources
on:
  schedule:
    - cron: '0 4 * * *'

jobs:
  update-resources:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Execute Resource Generator
        run: ./gradlew generateResources

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          title: 'chore: update rarity data from wiki'
          commit-message: 'chore: update rarity data from wiki'
          branch: automated/chore/update-resources
          reviewers: iProdigy
